* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 70%;
  margin: auto;
  color: gray;
}
header {
  position: fixed;
  width: 75%;
  padding: 2%;
  background-color: white;
}
.logo-docplanner {
  width: 268px;
  height: 33px;
}
a {
  text-decoration: none;
  color: #ababab;
  font-size: 18px;
}
.is-current {
  color: #00b39b;
}

ul {
  list-style: none;
  width: 30%;
  display: flex;
  justify-content: space-between;
  float: right;
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  padding-top: 10px;
  position: absolute;
  min-width: 220px;
  margin-left: -100px;
  background: #fff;
  box-shadow: 0 5px 10px 0 #d3cfc9;
  z-index: 1;
  width: 50%;
}
.dropdown-content ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.dropdown-content a {
  color: #ababab;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
}
.dropdown-content a:hover {
  background-color: #ddd;
  color: #00b39b;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.intro {
  padding-top: 15%;
}
.signet {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.int {
  text-align: center;
  padding-top: 5%;
  color: #00b39b;
  font-family: Arial, sans-serif;
  font-size: 30px;
  font-weight: lighter;
}
.grid {
  display: flex;
  box-sizing: inherit;
  justify-content: space-evenly;
  padding-top: 10%;
  font-family: Roboto, Arial, sans-serif;
  color: #747474;
}
.service {
  display: flex;
  padding-top: 10%;
  padding-bottom: 10%;
  justify-content: space-around;
}
.service_for_patient {
  width: 30%;
  background-color: #00ccb1;
  border-radius: 5%;
  padding: 5%;
}
.for_patient h1 {
  font-size: 1.625em;
  font-weight: 400;
  font-family: Arial, sans-serif;
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
}
.for_patient h2 {
  font-size: 1.4em;
  font-weight: lighter;
  font-family: Arial, sans-serif;
  color: white;
  padding-bottom: 50%;
}

.service_for_doctors {
  width: 30%;
  background-color: #3d83df;
  border-radius: 5%;
  padding: 5%;
}
.for_doctors h1 {
  font-size: 1.625em;
  font-weight: 400;
  font-family: Arial, sans-serif;
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
}
.service_for_doctors h2 {
  font-size: 1.4em;
  font-weight: lighter;
  font-family: Arial, sans-serif;
  color: white;
  padding-bottom: 50%;
}
.service_for_clinics {
  width: 30%;
  background-color: #1b2734;
  border-radius: 5%;
  padding: 5%;
}
.for_clinics h1 {
  font-size: 1.625em;
  font-weight: 400;
  font-family: Arial, sans-serif;
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
}
.for_clinics h2 {
  font-size: 1.4em;
  font-weight: lighter;
  font-family: Arial, sans-serif;
  color: white;
  padding-bottom: 30%;
}
.selections {
  padding-bottom: 10%;
}
.brand {
  display: flex;
  justify-content: space-around;
}
.h1 {
  display: block;
  color: #00b39b;
  font-family: Arial, sans-serif;
  font-weight: 300;
  width: 30%;
}
.logos {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}
.l1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}
.l2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}
.stat {
  display: flex;
  justify-content: space-around;
  background-color: #def3f1;
  padding: 5%;
  margin-bottom: 10%;
}
.intro_stat {
  width: 40%;
  font-size: larger;
}
.intro_stat h1 {
  font-size: 2.125rem;
  color: #00b39b;
  padding-bottom: 20%;
  font-family: arial, sans-serif;
  font-weight: lighter;
}

.big_box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 60%;
}
.elem1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  width: 45%;
  padding: 5%;
  border-radius: 5%;
  margin-bottom: 5%;
}
.elem1 img {
  width: 25%;
  align-self: center;
}
.elem1 h3 {
  color: #00b39b;
  text-align: center;
  font-weight: 100;
  font-size: 24px;
}
.elem1 p {
  text-align: center;
}
.elem2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  width: 45%;
  padding: 5%;
  border-radius: 5%;
  margin-bottom: 5%;
}
.elem2 img {
  width: 25%;
  align-self: center;
}
.elem2 h3 {
  color: #00b39b;
  text-align: center;
  font-weight: 100;
  font-size: 24px;
}
.elem2 p {
  text-align: center;
}
.elem3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  width: 45%;
  padding: 5%;
  border-radius: 5%;
}
.elem3 img {
  width: 25%;
  align-self: center;
}
.elem3 h3 {
  color: #00b39b;
  text-align: center;
  font-weight: 100;
  font-size: 24px;
}
.elem3 p {
  text-align: center;
}
.elem4 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  width: 45%;
  padding: 5%;
  border-radius: 5%;
}
.elem4 img {
  width: 25%;
  align-self: center;
}
.elem4 h3 {
  color: #00b39b;
  text-align: center;
  font-weight: 100;
  font-size: 24px;
}
.elem4 p {
  text-align: center;
}
.offices-section {
  display: flex;
  flex-direction: column;
}
.office-intro {
  margin-top: 5%;
  margin-bottom: 5%;
}
.office-intro h1 {
  text-align: center;
  color: #00b39b;
  font-family: Arial, sans-serif;
  font-weight: 100;
  font-size: 36px;
  padding-bottom: 5%;
}
.office-intro p {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-left: 20%;
  width: 60%;
  line-height: 30px;
}
.offices__slider {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10%;
}
.office1,
.office2,
.office3 {
  width: 30%;
  margin-bottom: 5%;
}
.office1 img,
.office2 img,
.office3 img {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}
.office4,
.office5,
.office6 {
  width: 30%;
  margin-bottom: 5%;
}
.office4 img,
.office5 img,
.office6 img {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}
.office7 {
  width: 30%;
}
.office7 img {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}
span {
  float: right;
}
.join-us_section_inner {
  display: flex;
  justify-content: center;
}
.join-us__header h1 {
  font-family: Arial, sans-serif;
  font-weight: 300;
  color: #333;
  font-size: 32px;
  margin-bottom: 5%;
  text-align: center;
}
.btn {
  justify-content: center;
  background-color: #3d83df;
  color: white;
  font-family: Arial, sans-serif;
  padding: 1%;
  border-radius: 5%;
}
.main-footer {
  margin-bottom: 5%;
  text-align: center;
  font-size: 14px;
}
.section__inner a {
  color: #3d83df;
}
.bouton {
  display:flex;
  justify-content: center;
  padding-bottom: 10%;
}
hr{
  margin-top: 5%;
  margin-bottom: 5%;
}
select {
  background-color: transparent;
  border: 0px;
  text-decoration: underline solid 1px;
  font-size: 1rem;
  color: white;
}
option {
  color: black;
}

